body{
    margin:0;
    padding:0;
    background: url('Image/Background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Helvetica;
    background-attachment: fixed;
    border-bottom: 5px solid #FFF;
    border-top: 1px solid #fff;
    margin: 30px auto 15px;
    padding: 10px 0; 
    color : #2A2A2A;
	display:flex;
}
#wrapper {
    margin: auto;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #bbbbbb;
	display:inline-flex;
	flex-direction:column;
	border-radius:5px;
}
h1{
    padding-top:10px;
    text-align: center;
}
p, h2, h3, h4{
    padding: 20px;
}


#wrap{
    width: 100%; 
    height: 50px; 
    margin: 0;
    z-index: 99; 
    position: relative; 
    border-radius: 10px;
}
.navbar{
    padding: 0;
    margin: 0;
    border-radius: 10px ;
}
.navbar li{
    height: auto;
    width: 135.8px; 
    float: left;  
    text-align: center; 
    list-style: none;  
    font: normal bold 13px/1em Arial;
    background-color: #444444;
    border-radius: 10px ;
}
.navbar a{                            
    padding: 18px 0;  
    border-left: 1px solid #ccc9c9;
    text-decoration: none; 
    color: white; 
    display: block;
    border-radius: 10px ;
}

.navbar li ul{
    background-color: #999999;
    border: 1px solid; 
    display: none;
    height: auto;
    padding: 0;
	position:absolute;
    border-radius: 10px ;
}

.navbar li:hover ul{
    display: block;
    border-radius: 10px ;
}
.navbar li ul li a{
    background-color: #999999;
    border: 1px solid #999999;
    border-radius: 10px ;
}
.a1{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa1 5s ease-in-out infinite;
}
@keyframes fa1{
    0%{
        background-image: url("Image/images/Appartement/Appartement 1/img1.jpg");
    }
    25%{
        background-image: url("Image/images/Appartement/Appartement 1/img2.jpg");
    }
    50%{
        background-image: url("Image/images/Appartement/Appartement 1/img3.jpg");
    }
    75%{
        background-image: url("Image/images/Appartement/Appartement 1/img4.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 1/img5.jpg");
    }
}
.a2{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa2 5s ease-in-out infinite;
}
@keyframes fa2{
    0%{
        background-image: url("Image/images/Appartement/Appartement 2/img1.jpg");
    }
    25%{
        background-image: url("Image/images/Appartement/Appartement 2/img2.jpg");
    }
    50%{
        background-image: url("Image/images/Appartement/Appartement 2/img3.jpg");
    }
    75%{
        background-image: url("Image/images/Appartement/Appartement 2/img4.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 2/img5.jpg");
    }
}
.a3{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa3 5s ease-in-out infinite;
}
@keyframes fa3{
    0%{
        background-image: url("Image/images/Appartement/Appartement 3/img1.jpg");
    }
    20%{
        background-image: url("Image/images/Appartement/Appartement 3/img2.jpg");
    }
    40%{
        background-image: url("Image/images/Appartement/Appartement 3/img3.jpg");
    }
    60%{
        background-image: url("Image/images/Appartement/Appartement 3/img4.jpg");
    }
    80%{
        background-image: url("Image/images/Appartement/Appartement 3/img5.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 3/img6.jpg");
    }
}
.a4{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa4 5s ease-in-out infinite;
}
@keyframes fa4{
    0%{
        background-image: url("Image/images/Appartement/Appartement 4/img1.jpg");
    }
    16%{
        background-image: url("Image/images/Appartement/Appartement 4/img2.jpg");
    }
    33%{
        background-image: url("Image/images/Appartement/Appartement 4/img3.jpg");
    }
    50%{
        background-image: url("Image/images/Appartement/Appartement 4/img4.jpg");
    }
    66%{
        background-image: url("Image/images/Appartement/Appartement 4/img5.jpg");
    }
    83%{
        background-image: url("Image/images/Appartement/Appartement 4/img6.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 4/img7.jpg");
    }
}
.a5{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa5 5s ease-in-out infinite;
}
@keyframes fa5{
    0%{
        background-image: url("Image/images/Appartement/Appartement 5/img1.jpg");
    }
    20%{
        background-image: url("Image/images/Appartement/Appartement 5/img2.jpg");
    }
    40%{
        background-image: url("Image/images/Appartement/Appartement 5/img3.jpg");
    }
    60%{
        background-image: url("Image/images/Appartement/Appartement 5/img4.jpg");
    }
    80%{
        background-image: url("Image/images/Appartement/Appartement 5/img5.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 5/img6.jpg");
    }
}
.a6{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa6 5s ease-in-out infinite;
}
@keyframes fa6{
    0%{
        background-image: url("Image/images/Appartement/Appartement 6/img1.jpg");
    }
    20%{
        background-image: url("Image/images/Appartement/Appartement 6/img2.jpg");
    }
    40%{
        background-image: url("Image/images/Appartement/Appartement 6/img3.jpg");
    }
    60%{
        background-image: url("Image/images/Appartement/Appartement 6/img4.jpg");
    }
    80%{
        background-image: url("Image/images/Appartement/Appartement 6/img5.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 6/img6.jpg");
    }
}
.a7{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa7 5s ease-in-out infinite;
}
@keyframes fa7{
    0%{
        background-image: url("Image/images/Appartement/Appartement 7/img1.jpg");
    }
    16%{
        background-image: url("Image/images/Appartement/Appartement 7/img2.jpg");
    }
    33%{
        background-image: url("Image/images/Appartement/Appartement 7/img3.jpg");
    }
    50%{
        background-image: url("Image/images/Appartement/Appartement 7/img4.jpg");
    }
    66%{
        background-image: url("Image/images/Appartement/Appartement 7/img5.jpg");
    }
    83%{
        background-image: url("Image/images/Appartement/Appartement 7/img6.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 7/img7.jpg");
    }
}
.a8{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa8 5s ease-in-out infinite;
}
@keyframes fa8{
    0%{
        background-image: url("Image/images/Appartement/Appartement 8/img1.jpg");
    }
    20%{
        background-image: url("Image/images/Appartement/Appartement 8/img2.jpg");
    }
    40%{
        background-image: url("Image/images/Appartement/Appartement 8/img3.jpg");
    }
    60%{
        background-image: url("Image/images/Appartement/Appartement 8/img4.jpg");
    }
    80%{
        background-image: url("Image/images/Appartement/Appartement 8/img5.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 8/img6.jpg");
    }
}
.a9{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fa9 5s ease-in-out infinite;
}
@keyframes fa9{
    0%{
        background-image: url("Image/images/Appartement/Appartement 9/img1.jpg");
    }
    16%{
        background-image: url("Image/images/Appartement/Appartement 9/img2.jpg");
    }
    33%{
        background-image: url("Image/images/Appartement/Appartement 9/img3.jpg");
    }
    50%{
        background-image: url("Image/images/Appartement/Appartement 9/img4.jpg");
    }
    66%{
        background-image: url("Image/images/Appartement/Appartement 9/img5.jpg");
    }
    83%{
        background-image: url("Image/images/Appartement/Appartement 9/img6.jpg");
    }
    100%{
        background-image: url("Image/images/Appartement/Appartement 9/img7.jpg");
    }
}
.i1{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi1 5s ease-in-out infinite;
}
@keyframes fi1{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble1/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble1/img2.jpg");
    }
}
.i2{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi2 5s ease-in-out infinite;
}
@keyframes fi2{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble2/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble2/img2.jpg");
    }
}
.i3{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi3 5s ease-in-out infinite;
}
@keyframes fi3{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble3/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble3/img2.jpg");
    }
}
.i4{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi4 5s ease-in-out infinite;
}
@keyframes fi4{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble4/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble4/img2.jpg");
    }
}
.i5{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi5 5s ease-in-out infinite;
}
@keyframes fi5{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble5/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble5/img2.jpg");
    }
}
.i6{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi6 5s ease-in-out infinite;
}
@keyframes fi6{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble6/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble6/img2.jpg");
    }
}
.i7{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi7 5s ease-in-out infinite;
}
@keyframes fi7{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble7/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble7/img2.jpg");
    }
}
.i8{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi8 5s ease-in-out infinite;
}
@keyframes fi8{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble8/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble8/img2.jpg");
    }
}
.i9{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fi9 5s ease-in-out infinite;
}
@keyframes fi9{
    0%{
        background-image: url("Image/images/Immeuble/Immeuble9/img1.jpg");
    }
    100%{
        background-image: url("Image/images/Immeuble/Immeuble9/img2.jpg");
    }
}
.l1{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl1 5s ease-in-out infinite;
}
@keyframes fl1{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local1/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local1/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local1/img3.jpg");
    }
}
.l2{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl2 5s ease-in-out infinite;
}
@keyframes fl2{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local2/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local2/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local2/img3.jpg");
    }
}
.l3{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl3 5s ease-in-out infinite;
}
@keyframes fl3{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local3/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local3/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local3/img3.jpg");
    }
}
.l4{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl4 5s ease-in-out infinite;
}
@keyframes fl4{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local4/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local4/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local4/img3.jpg");
    }
}
.l5{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl5 5s ease-in-out infinite;
}
@keyframes fl5{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local5/img1.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local5/img2.jpg");
    }
}
.l6{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl6 5s ease-in-out infinite;
}
@keyframes fl6{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local6/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local6/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local6/img3.jpg");
    }
}
.l7{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl7 5s ease-in-out infinite;
}
@keyframes fl7{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local7/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local7/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local7/img3.jpg");
    }
}
.l8{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl8 5s ease-in-out infinite;
}
@keyframes fl8{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local8/img1.jpg");
    }
    50%{
        background-image: url("Image/images/locaux_commerciaux/local8/img2.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local8/img3.jpg");
    }
}
.l9{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fl9 5s ease-in-out infinite;
}
@keyframes fl9{
    0%{
        background-image: url("Image/images/locaux_commerciaux/local9/img1.jpg");
    }
    33%{
        background-image: url("Image/images/locaux_commerciaux/local9/img2.jpg");
    }
    66%{
        background-image: url("Image/images/locaux_commerciaux/local9/img3.jpg");
    }
    100%{
        background-image: url("Image/images/locaux_commerciaux/local9/img4.jpg");
    }
}
.m1{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm1 5s ease-in-out infinite;
}
@keyframes fm1{
    0%{
        background-image: url("Image/images/maisons/maison1/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison1/img2.jpg");
    }
}
.m2{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm2 5s ease-in-out infinite;
}
@keyframes fm2{
    0%{
        background-image: url("Image/images/maisons/maison2/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison2/img2.jpg");
    }
}
.m3{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm3 5s ease-in-out infinite;
}
@keyframes fm3{
    0%{
        background-image: url("Image/images/maisons/maison3/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison3/img2.jpg");
    }
}
.m4{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm4 5s ease-in-out infinite;
}
@keyframes fm4{
    0%{
        background-image: url("Image/images/maisons/maison4/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison4/img2.jpg");
    }
}
.m5{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm5 5s ease-in-out infinite;
}
@keyframes fm5{
    0%{
        background-image: url("Image/images/maisons/maison5/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison5/img2.jpg");
    }
}
.m6{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm6 5s ease-in-out infinite;
}
@keyframes fm6{
    0%{
        background-image: url("Image/images/maisons/maison6/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison6/img2.jpg");
    }
}
.m7{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm7 5s ease-in-out infinite;
}
@keyframes fm7{
    0%{
        background-image: url("Image/images/maisons/maison7/img1.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison7/img2.jpg");
    }
}
.m8{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm8 5s ease-in-out infinite;
}
@keyframes fm8{
    0%{
        background-image: url("Image/images/maisons/maison8/img1.jpg");
    }
    50%{
        background-image: url("Image/images/maisons/maison8/img2.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison8/img3.jpg");
    }
}
.m9{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fm9 5s ease-in-out infinite;
}
@keyframes fm9{
    0%{
        background-image: url("Image/images/maisons/maison9/img1.jpg");
    }
    50%{
        background-image: url("Image/images/maisons/maison9/img2.jpg");
    }
    100%{
        background-image: url("Image/images/maisons/maison9/img3.jpg");
    }
}
.t1{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft1 5s ease-in-out infinite;
}
@keyframes ft1{
    0%{
        background-image: url("Image/images/terrains/terrain1/img1.jpg");
    }
    100%{
        background-image: url("Image/images/terrains/terrain1/img2.jpg");
    }
}
.t2{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft2 5s ease-in-out infinite;
}
@keyframes ft2{
    0%{
        background-image: url("Image/images/terrains/terrain2/img1.jpg");
    }
    50%{
        background-image: url("Image/images/terrains/terrain2/img2.jpg");
    }
    100%{
        background-image: url("Image/images/terrains/terrain2/img3.jpg");
    }
}
.t3{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft3 5s ease-in-out infinite;
}
@keyframes ft3{
    0%{
        background-image: url("Image/images/terrains/terrain3/img1.jpg");
    }
    50%{
        background-image: url("Image/images/terrains/terrain3/img2.jpg");
    }
    100%{
        background-image: url("Image/images/terrains/terrain3/img3.jpg");
    }
}
.t4{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft4 5s ease-in-out infinite;
}
@keyframes ft4{
    100%{
        background-image: url("Image/images/terrains/terrain4/img1.jpeg");
    }
}
.t5{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft5 5s ease-in-out infinite;
}
@keyframes ft5{
    100%{
        background-image: url("Image/images/terrains/terrain5/img1.jpg");
    }
}
.t6{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft6 5s ease-in-out infinite;
}
@keyframes ft6{
    100%{
        background-image: url("Image/images/terrains/terrain6/img1.jpg");
    }
}
.t7{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft7 5s ease-in-out infinite;
}
@keyframes ft7{
    100%{
        background-image: url("Image/images/terrains/terrain7/img1.jpg");
    }
}
.t8{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft8 5s ease-in-out infinite;
}
@keyframes ft8{
    100%{
        background-image: url("Image/images/terrains/terrain8/img1.jpeg");
    }
}
.t9{
    width: 350px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: ft9 5s ease-in-out infinite;
}
@keyframes ft9{
    100%{
        background-image: url("Image/images/terrains/terrain9/img1.jpeg");
    }
}

iframe{
    border-radius: 10px ;
}

article{
    text-align: center;
}

article > img {
    height: 150px;
    width:3 00px;
}