/*CSS GENERAL*/
html {
    font-family: sans-serif;
}
body {
    color: #dcdcdc;
    background: #212121;
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 0.5rem;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

header {
    background: #2b2b2b;
    border-bottom: 1px solid #666;
    text-align: center;
    padding: 2rem 0.5rem;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

header h1,
header p {
    margin: 0;
}

main {
    padding-top: 1.5rem;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0;
}

nav a {
    margin: 1rem 1rem 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    color: #dcdcdc !important;
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
    transition: 0.4s;
}

nav a:hover {
    color: #ffb300 !important;
    border-color: #ffb300;
}

nav a.current:hover {
    text-decoration: none;
}

footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: #ababab;
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid #666;
}
/*CSS BOUTONS/LIENS*/
a,
a:visited {
    color: #ffb300;
}
a:hover {
    text-decoration: none;
}
a button,
button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: none;
    border-radius: 5px;
    background: #ffb300;
    font-size: 1rem;
    color: #212121;
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    transition: 0.4s;
}
a button[disabled],
button[disabled],
[role="button"][aria-disabled="true"],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
    cursor: default;
    opacity: 0.5;
    cursor: not-allowed;
}
input:disabled,
textarea:disabled,
select:disabled {
    cursor: not-allowed;
    background-color: #111;
}

/* CSS LISTE */
ol,
ul {
    padding-left: 3rem;
}

/* CSS TEXT */
textarea,
select,
input {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color:  #dcdcdc;
    background: #212121;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 60%;
    appearance: none;
}

/* CSS RADIO / CHECKBOX */
input[type="checkbox"],
input[type="radio"] {
    vertical-align: bottom;
    position: relative;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: #ffb300;
}
input[type="checkbox"]:checked::after {
    content: " ";
    width: 0.1em;
    height: 0.25em;
    border-radius: 0;
    position: absolute;
    top: 0.05em;
    left: 0.18em;
    background: transparent;
    border-right: solid #212121 0.08em;
    border-bottom: solid #212121 0.08em;
    font-size: 1.8em;
    transform: rotate(45deg);
}
input[type="radio"] {
    border-radius: 100%;
}
input[type="radio"]:checked::after {
    content: " ";
    width: 0.25em;
    height: 0.25em;
    border-radius: 100%;
    position: absolute;
    top: 0.125em;
    background: #212121;
    left: 0.125em;
    font-size: 32px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

/* CSS Choix Bien */
.cadre{
    border-width: 20px;
    border-style: inset;
    height: 300px;
    width: 650px;
    display: flex;
    flex-direction: row;
    border-color: #74cdd1;
}

.prop-bien{
    font-family: sans-serif;
    display: inline-block;

}

/* CSS CARROUSSEL */
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 100px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active{
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}